.cloud {
  background-color: #fff;
  opacity: var(--opacity);
  border-radius: 40%;
  position: absolute;
  box-shadow: 0 0 10px 10px #fff;
  animation: travel 600s infinite linear;
  z-index: 0;
}

@keyframes travel {
  0% {
    transform: rotate(var(--rotation)) translate(0, 0) scale(1);
  }
  50% {
    transform: rotate(var(--rotation)) translate(calc(var(--randomX) * 16px - 800px), calc(var(--randomY) * 16px - 800px)) scale(1.1);
  }
  100% {
    transform: rotate(var(--rotation)) translate(calc(var(--randomX) * 32px - 1600px), calc(var(--randomY) * 32px - 1600px)) scale(1);
  }
}