.cloud {
  background-color: #fff;
  opacity: var(--opacity);
  border-radius: 40%;
  position: absolute;
  box-shadow: 0 0 20px 20px #fff;
  animation: travel 300s infinite linear;
  background-image: radial-gradient(circle at 30% 30%, #fff 45%, rgba(128, 128, 128, 0.03) 50%, #fff 55%);
  z-index: 0;
}

@keyframes travel {
  0% {
    transform: rotate(var(--rotation)) translate(0, 0) scale(1);
  }
  50% {
    transform: rotate(var(--rotation)) translate(calc(var(--randomX) * 16px - 800px), calc(var(--randomY) * 16px - 800px)) scale(1.1);
  }
  100% {
    transform: rotate(var(--rotation)) translate(calc(var(--randomX) * 32px - 1600px), calc(var(--randomY) * 32px - 1600px)) scale(1);
  }
}

.sun {
  position: absolute;
  background-color: #ff8;
  background-image: radial-gradient(circle at 30% 30%, #ff4 10%, #ff0 60%);
  border-radius: 50%;
  opacity: 0.75;
  width: 300px;
  height: 200px;
  animation: rotation 600s infinite linear, shine 10s infinite linear;
  z-index: 0;
}

@keyframes shine {
  0% {
    box-shadow: 0 0 30px 30px #ff0;
  }
  50% {
    box-shadow: 0 0 10px 10px #ff0;
  }
  50% {
    box-shadow: 0 0 20px 20px #ff0;
  }
  50% {
    box-shadow: 0 0 15px 15px #ff0;
  }
  100% {
    box-shadow: 0 0 30px 30px #ff0;
  }
}

@keyframes rotation {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(100px, 0);
  }
  100% {
    transform: translate(200px, 0);
  }
}