.star {
  position: absolute;
  background-color: var(--color); /* Set the color for the stars */
  border-radius: 50%;
  animation: twinkle 3s infinite ease-in-out;
  z-index: 0;
}

@keyframes twinkle {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg) scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 1;
  }
}

.shooting-star {
  position: absolute;
  background-color: #ffe;
  border-radius: 50%;
  animation: shootingStar 1s linear;
  z-index: 2;
}

@keyframes shootingStar {
  0% {
    transform: translate(0, 0);
    opacity: 0.5;
    box-shadow: 0 0 0 0 #f80, 0 0 0 0 #f60, 0 0 0 0 #f40, 0 0 0 0 #f20, 0 0 0 0 #f00;
  }
  50% {
    transform: translate(calc(var(--randomX) * 40px - 200px), calc(var(--randomY) * 40px - 200px)) scale(1.3);
    opacity: 1;
    box-shadow:
      calc((var(--randomX) * 2px - 10px) * -0.4) calc((var(--randomY) * 2px - 10px) * -0.4) 0px 0px #fed,
      calc((var(--randomX) * 2px - 10px) * -0.8) calc((var(--randomY) * 2px - 10px) * -0.8) 0px 0px #fdb,
      calc((var(--randomX) * 2px - 10px) * -1.2) calc((var(--randomY) * 2px - 10px) * -1.2) 1px 0px #fc9,
      calc((var(--randomX) * 2px - 10px) * -1.6) calc((var(--randomY) * 2px - 10px) * -1.6) 1px 0px #fb7,
      calc((var(--randomX) * 2px - 10px) * -2.0) calc((var(--randomY) * 2px - 10px) * -2.0) 2px 0px #fa5,
      calc((var(--randomX) * 2px - 10px) * -2.4) calc((var(--randomY) * 2px - 10px) * -2.4) 2px 0px #f93,
      calc((var(--randomX) * 2px - 10px) * -2.8) calc((var(--randomY) * 2px - 10px) * -2.8) 3px 0px #f81,
      calc((var(--randomX) * 2px - 10px) * -3.2) calc((var(--randomY) * 2px - 10px) * -3.2) 3px 0px #f70;
  }
  100% {
    transform: translate(calc(var(--randomX) * 80px - 400px), calc(var(--randomY) * 80px - 400px)) scale(0);
    opacity: 0.1;
    box-shadow:
    calc((var(--randomX) * 2px - 10px) * -0.8) calc((var(--randomY) * 2px - 10px) * -0.8) 1px -1px #fed,
    calc((var(--randomX) * 2px - 10px) * -1.6) calc((var(--randomY) * 2px - 10px) * -1.6) 2px -1px #fdb,
    calc((var(--randomX) * 2px - 10px) * -2.4) calc((var(--randomY) * 2px - 10px) * -2.4) 3px -2px #fc9,
    calc((var(--randomX) * 2px - 10px) * -3.2) calc((var(--randomY) * 2px - 10px) * -3.2) 4px -2px #fb7,
    calc((var(--randomX) * 2px - 10px) * -4.0) calc((var(--randomY) * 2px - 10px) * -4.0) 5px -3px #fa5,
    calc((var(--randomX) * 2px - 10px) * -4.8) calc((var(--randomY) * 2px - 10px) * -4.8) 6px -3px #f93,
    calc((var(--randomX) * 2px - 10px) * -5.6) calc((var(--randomY) * 2px - 10px) * -5.6) 7px -4px #f81,
    calc((var(--randomX) * 2px - 10px) * -6.4) calc((var(--randomY) * 2px - 10px) * -6.4) 8px -4px #f70;
  }
}

.moon {
  position: absolute;
  background-color: #fff; /* Set the color for the stars */
  background-image: radial-gradient(circle at 30% 30%, #fff 10%, #888 60%);
  border-radius: 50%;
  box-shadow: 0 0 5px 0 #fff;
  width: 40px;
  height: 40px;
  animation: rotation 600s infinite linear;
  z-index: 1;
}

@keyframes rotation {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(100px, 0) rotate(180deg);
  }
  100% {
    transform: translate(200px, 0) rotate(360deg);
  }
}

.ufo {
  position: absolute;
  background-color: #ccc;
  background: linear-gradient(-45deg, #ccc 45%, #444 50%, #ccc 55%);
  border-radius: 100% 0% / 100% 0%;
  transform: rotate(45deg);
  animation: flyingSaucer 5s linear;
}

@keyframes flyingSaucer {
  0% {
    transform: translate(0, 0) rotate(35deg) scale(0.9);
    opacity: 0;
  }
  25% {
    transform: translate(calc(var(--randomX) * 4px - 200px), calc(var(--randomY) * 4px - 200px))  rotate(55deg);
    opacity: 1;
  }
  50% {
    transform: translate(calc(var(--randomX) * 8px - 400px), calc(var(--randomY) * 8px - 400px)) rotate(35deg) scale(1.1);
  }
  75% {
    transform: translate(calc(var(--randomX) * 12px - 600px), calc(var(--randomY) * 12px - 600px))  rotate(55deg);
    opacity: 1;
  }
  100% {
    transform: translate(calc(var(--randomX) * 16px - 800px), calc(var(--randomY) * 16px - 800px)) rotate(35deg) scale(0.9);
    opacity: 0;
  }
}