.star-wars {
  perspective: 100px;
  position: relative;
  height: 200px;
}

.crawl {
  position: absolute;
  bottom: -2000px;
  left: 5%;
  margin: 0;
  padding: 0;
  font-size: 100px;
  font-family: 'Arial', sans-serif;
  color: #fff200;
  white-space: nowrap;
  transform-origin: 50% 100%;
  animation: crawling 20s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes crawling {
  0% {
    transform: rotateX(3deg) translateY(0%);
    opacity: 1;
    display: block;
  }
  95% {
    opacity: 1;
    display: block;
  }
  100% {
    transform: rotateX(4deg) translateY(-8000px);
    opacity: 0;
    display: none;
  }
  to {
    display: none;
  }
}

@keyframes crawlMobile {
  0% {
    transform: translateX(-20%) rotateX(3deg) translateY(0%);
    opacity: 1;
    display: block;
  }
  95% {
    opacity: 1;
    display: block;
  }
  100% {
    transform: translateX(-20%) rotateX(4deg) translateY(-15000px);
    opacity: 0;
    display: none;
  }
  to {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .crawl {
    font-size: 50px;
    animation: crawlMobile 40s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
}