@font-face {
  font-family: 'SimpsonsFont';
  src: url('./fonts/Simpsonfont.ttf') format('truetype');
}

.the-simpsons {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 9999;
}

.intro {
  font-family: 'SimpsonsFont', sans-serif;
  font-size: 40px;
  color: #fcd41c;
  font-weight: 900;
  text-shadow: -1px 1px 1px #444;
  text-transform: uppercase;
  animation: introAnimation 10s cubic-bezier(1.0, 0.0, 1.0, 1.0);
  opacity: 0;
}

@keyframes introAnimation {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale(10);
    opacity: 0;
    display: none;
  }
  to {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .intro {
    font-size: 20px;
  }
}